* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
}

body {
    background-color: white;
    text-align: center;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    width: 8%;
    padding: 10px;
}

img {
    display: flex;
    width: 90%;
    margin-top: 80px;
    margin-bottom: 80px;
}



.img1 {
    justify-content: center;
    justify-items: center;
    width: 90%;
    margin-left: 5%;
}


ul li {
    list-style-type: none;
    font-size: 22px;
}



img {
    display: flex;
    width: 90%;
    margin-top: 80px;
    margin-bottom: 80px;
}



.img1 {
    justify-content: center;
    justify-items: center;
    width: 90%;
    margin-left: 5%;
}