

    h1 {
        color: #D907A1;
        padding: 30px;
        border: 20px;
        margin: 80px 40px 80px 40px;
        font-size: 1.2em;
        justify-content: center;
        justify-content: center;
    }
    
    h2 {
        color: black;
    }
    
    h3 {
        color: #2039A6;
    
    
    }
    
    h4 {
        color: #2142A6;
        font-size: 24px;
        font-weight: 700 bolder;
        margin: 80px 40px 80px 40px;
    }
    
    h5 {
        justify-content: left;
        justify-items: left;
    }

    p {
        color: black;
        padding: 20px;
        font-weight: lighter;
        font-size: 24px;
        margin: 80px 40px 80px 40px;
    }
