@import "generales";
@import "titulosysub";
@import "footer";
@import "cards";


@media (min-width: 600px) {
    body {
        background-color: lightcyan
    }
}

@media (max-width: 600px) {
    body {
        background-color: antiquewhite
    }
}



@media screen and (max-width: 800px) {
    .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 35px 0px;
    }
}



.prueba-flex-contacto {
    background-color: #8DA3F6;
    padding: 30px;
    margin: 15px;
}

.flex-container {
    background-color: #D907A1;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}


.div-nav {
    background-color: #D907A1;
    padding: 30px;
    margin: 15px;
}

.nav-flex {
    background-color: antiquewhite;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.grid-img {
    width: 100%;
}


